asgiref==3.8.1
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
defusedxml==0.7.1
Django==4.2.19
django-allauth==0.51.0
EbookLib==0.17
idna==3.10
lxml==5.3.1
oauthlib==3.2.2
psycopg==3.2.4
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.10.1
pypandoc==1.15
pypandoc_binary==1.15
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
