{% extends "base_generic.html" %} {% block content %}

<h1 class="text-2xl font-bold mb-4">Your Books</h1>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  {% for book in books %}
  <div
    class="bg-solarized-content shadow-md rounded-lg p-4 flex flex-col justify-between sm:h-40 md:h-80 {% cycle 'bg-teracotta-tile' 'bg-teracotta-tile2' %}"
  >
    <div>
      <h2
        class="text-xl font-semibold text-solarized-base w-full overflow-hidden h-28 overflow-ellipsis"
      >
        {{ book.title }}
      </h2>
    </div>
    <div class="mt-4">
      <button
        data-url="{% url 'reader' book.id book.last_read_chunk %}"
        class="text-solarized-highlight hover:text-solarized-highlight read-button"
        onclick="handleReadClick(event)"
      >
        Read
      </button>
    </div>
  </div>
  {% endfor %}
  <div
    class="bg-solarized-content rounded-lg p-4 flex flex-col justify-between sm:h-40 md:h-80"
  >
    <div>
      <h2
        class="text-l font-semibold text-solarized-base w-full overflow-hidden h-28 overflow-ellipsis"
      >
        No books in mind? Try
        <a
          href="https://www.gutenberg.org/ebooks/bookshelf/"
          class="underline"
          target="_blank"
          >Project Gutenberg</a
        >
        and download an epub for free.
      </h2>
    </div>
  </div>
</div>
{% endblock %}

<style></style>
