{% extends "base_generic.html" %} {% block content %} {% if chunk_id == 0 %}
<h1 class="break-words text-4xl font-bold mb-4">{{ book.title }}</h1>
{% endif %}
<div>
  <!-- <h2 class="text-2xl font-bold mb-4">Original Chunk</h2> -->
  <!-- <pre style="white-space: pre-wrap">{{ original_chunk }}</pre> -->
  <pre style="white-space: pre-wrap">{{ translated_chunk }}</pre>
</div>
<div class="mt-4 flex gap-4">
  {% if chunk_id > 0 %}
  <button
    data-url="{% url 'reader' book.id chunk_id|add:-1 %}"
    class="btn btn-primary text-solarized-highlight font-bold py-2 px-4 rounded"
    onclick="handleReadClick(event)"
  >
    Previous Page
  </button>
  {% endif %} {% if chunk_id < book.text_chunks|length %}
  <button
    data-url="{% url 'reader' book.id chunk_id|add:1 %}"
    class="btn btn-primary text-solarized-highlight font-bold py-2 px-4 rounded"
    onclick="handleReadClick(event)"
  >
    Next Page
  </button>
  {% endif %}
</div>
<div class="mt-4">
  <p>Page {{ chunk_id|add:1 }} of {{ book.text_chunks|length }}</p>
</div>
{% if chunk_id != 0 %}
<h1 class="break-words mb-4">{{ book.title }}</h1>
{% endif %} {% endblock %}
